<h1 class="animated fadeIn fast">Sobre Heroes App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia incidunt officia officiis atque odit, dolore, a commodi nisi quaerat et veritatis eligendi inventore esse asperiores beatae minus tempora alias!
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptas hic laboriosam deserunt ducimus est sapiente, corporis et? Voluptatem corrupti quo ipsam error maxime hic voluptatibus blanditiis placeat porro eaque?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore obcaecati vero veritatis sed officia nesciunt expedita numquam ab blanditiis, nihil autem eaque cupiditate quo dolores necessitatibus ullam quaerat aspernatur porro.
</p>
